/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);

  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);

  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  // --hd-bk-transparent-degree: 0.2;

  // --submenu-background-opacity: 0.85;

}

/* semantic color variables for this project */
html[data-theme="light"] {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--white-soft);
  --color-heading-2: var(--indigo);
  --color-title: var(--white-soft);
  // --transparent-color-background: rgba(0, 0, 0, var(--hd-bk-transparent-degre));
  --color-text: var(--white-mute);
  
}

html[data-theme="dark"] {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--white-soft);
  --color-heading-2: var(--white-soft);
  --color-title: var(--white-soft);
  // --transparent-color-background: rgba(255, 255, 255, var(--hd-bk-transparent-degre));
  --color-text: var(--white-mute);

  img {
    // 让图片变暗
    filter: brightness(0.8) saturate(1.25);
  }
}
